$light_grey: #CDCDCD;

.info-text {
  color: gray;
  line-height: 35px;
}

.gradient-text {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color:transparent;
  -webkit-background-clip: text;
}

.header-text {
  font-size: 4em;
  font-weight: bolder;
  margin-bottom: 1em;
}

.left-navigation {
  position: fixed;
  float: left;
  z-index: 112;
  padding: 2em 2em;
  border: 1px solid $light_grey;

  // center it so that its centroid is vertically centered
  top: 50%;
  transform: translateY(-50%);
  left: 6%;

  text-align: center;
  font-family: "Montserrat", cursive;
  font-weight: bolder;

  background-color: white;

  .left-navigation-list {

    padding: 0;
    list-style-type: none;

    li {
      margin-top: 2em;

      a {
        text-decoration: none;
        color: black;
        transition-duration: 0.5s;
      }

      a:hover {
        background-color: black;
        color: white;
      }

    }
  }

  @media (max-width: 1199.98px) {
    display: none;
  }
}

#introduction {

  margin-top: 15vh;
  margin-bottom: 5vh;

  font-family: "Montserrat", cursive;

  h1 {
    margin-bottom: 2em !important;
  }

  .image {
    display: flex;
    justify-content: center;
    z-index: -2;
    transform: translateY(-100px);

    img {
      object-fit: cover;
      width: 100%;
      max-width: 500px;
    }
  }
}

#tools {

  margin: 5vh 0;
  font-family: "Montserrat", cursive;
  text-align: center;

  .tool {
    display: flex;
    align-items: center;

    margin-bottom: 5vh;
    border: 1px solid $light_grey;
    padding: 1em 3em;
  }

  .describe {
    h3 {
      color: black;
      font-weight: bolder;
      font-size: larger;
      margin-bottom: 1em;
    }
  }
}

#acknowledgements {
  margin: 5vh 0;
  font-family: "Montserrat", cursive;
  text-align: center;
}

#contact {

  margin: 5vh 0;
  font-family: "Montserrat", cursive;

  .contact-form {
    color: gray;
    box-shadow: 0 0 3px #ccc;
    padding: 4em 2em;
    border-radius: 25px;
  }

  button {
    width: 100%;
    margin-top: 2em;
  }
}
