.content-privacy {
  margin-top: 15vh;
  margin-bottom: 5vh;
  font-family: "Montserrat", cursive;

  h1 {
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 1em;
    color: black;
  }
  p {
    color: grey;
  }

  strong {
    color: black;
  }
}

