.content-toa {
  margin-top: 15vh;
  margin-bottom: 5vh;
  font-family: "Montserrat", cursive;
  color: gray;

  h1 {
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 1em;
    color: black;
  }

  li {
    margin-top: 10px;
  }

  strong {
    color: black;
  }
}

